#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

A ICON             "icons/gpredict-icon.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     1,3,99,0
    PRODUCTVERSION  1,3,99,0
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904e4"
        {
            VALUE "CompanyName", "Alexandru Csete, OZ9AEC"
            VALUE "FileDescription", "Gpredict: Real-time satellite tracking and orbit prediction program"
            VALUE "FileVersion", "1.3.99.0"
            VALUE "InternalName", "GPredict"
            VALUE "LegalCopyright", "Copyright (C)  2001-2013  Alexandru Csete, OZ9AEC"
            VALUE "ProductName", "GPredict"
            VALUE "ProductVersion", "1.3.99"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x04E4
    }
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
2 RT_MANIFEST    "gpredict.exe.manifest"
